torch
torchvision
numpy
scipy
scikit-learn
joblib
tqdm
matplotlib
pandas
seaborn
opencv-python
dlib
face-alignment
ffmpeg-python
librosa
numba
moviepy
imageio
soundfile
torchlibrosa
audioread
optuna
pooch
jupyterlab
ipython
tensorboard
click
pyyaml
torchinfo
typing-extensions
uri-template
webcolors